/* Add css here */

* {
  margin: 0;
  padding: 0;
}

#desktop-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}

#d3-container {
  width: 360px;
  height: 640px;
}

.d3-background {
  background-color: rgb(142,165,206);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0),  rgb(145,207,207) 100%);
  -webkit-animation: gradientChange 10s ease-in infinite;
}

@keyframes gradientChange {
    50% {
      background-color: rgb(145,207,207);
    }
    75% {
      background-color: rgb(142,165,206);
    }
}

.tags {
  position: absolute;
    top: 7%;
    left: 35%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.tags li {
  display: inline-block;
  list-style-type: none;
}
