/* Add css here */

* {
  margin: 0;
  padding: 0;
}

#desktop-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}

#d3-container {
  width: 360px;
  height: 640px;
}

.d3-background {
  background: linear-gradient(#8EA5CE, #91CFCF);
}
