/* Add css here */

* {
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#desktop-background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}

#d3-container {
    position: absolute;
    width: 360px;
    height: 640px;
}

.d3-background {
    position: absolute;
    background-color: rgb(142, 165, 206);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(145, 207, 207) 100%);
    -webkit-animation: gradientChange 10s ease-in infinite;
    overflow: hidden;
}

@keyframes gradientChange {
    50% {
        background-color: rgb(145, 207, 207);
    }
    75% {
        background-color: rgb(142, 165, 206);
    }
}


/* Navigation */

.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
    background-color: #8ea5ce;
    border-radius: 100%;
    width: 73px;
    height: 73px;
    margin-left: -36px;
    position: absolute;
    text-align: center;
    line-height: 95px;
}

.menu-open {
    display: none;
}

.menu-open:checked+.menu-open-button {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    height: 15%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.menu-item svg {
    margin-top: 14px;
}

#pencil {
    /*-webkit-transition-duration: 70ms;
          transition-duration: 70ms;*/
}

.menu-item:nth-child(4) {
    /*-webkit-transition-duration: 130ms;
          transition-duration: 130ms;*/
}

.menu-item:nth-child(5) {
    /*-webkit-transition-duration: 190ms;
          transition-duration: 190ms;*/
}

.menu-item:nth-child(6) {
    /*-webkit-transition-duration: 250ms;
          transition-duration: 250ms;*/
}

.menu-item:nth-child(7) {
    /*-webkit-transition-duration: 310ms;
          transition-duration: 310ms;*/
}

.menu-open-button {
    background-color: #8ea5ce;
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button.active {
    background-color: #8ea5ce;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item.normal {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~#pencil.normal {
    -webkit-transition-duration: 260ms;
    transition-duration: 260ms;
    -webkit-transform: translate3d(-140.42548px, -12.48084px, 0);
    transform: translate3d(-140.42548px, -12.48084px, 0);
}

.menu-open:checked~#camera.normal {
    -webkit-transition-duration: 440ms;
    transition-duration: 440ms;
    -webkit-transform: translate3d(-97.18543px, -95.2491px, 0);
    transform: translate3d(-97.18543px, -95.2491px, 0);
}

.menu-open:checked~#microphone.normal {
    -webkit-transition-duration: 620ms;
    transition-duration: 620ms;
    -webkit-transform: translate3d(-0.09158px, -135.99996px, 0);
    transform: translate3d(-0.09158px, -135.99996px, 0);
}

.menu-open:checked~#clock.normal {
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform: translate3d(97.04956px, -95.37192px, 0);
    transform: translate3d(97.04956px, -95.37192px, 0);
}

.menu-open:checked~#cog.normal {
    -webkit-transition-duration: 1080ms;
    transition-duration: 1080ms;
    -webkit-transform: translate3d(140.40705px, -12.66307px, 0);
    transform: translate3d(140.40705px, -12.66307px, 0);
}

@keyframes pencil {
    0% {
        transform: translate(-140.42548px, -12.48084px);
        -webkit-transform: translate(-140.42548px, -12.48084px);
        background-color: #8ea5ce;
    }
    50% {
        transform: translate(-3.42548px, -274.48084px);
        -webkit-transform: translate(-3.42548px, -274.48084px);
        width: 73px;
        height: 73px;
        background-color: white;
    }
    100% {
        transform: translate(-38.5%, -85.5%);
        -webkit-transform: translate(-38.5%, -85.5%);
        width: 87%;
        height: 555%;
        border-radius: 3px;
        background-color: white;
    }
}

@keyframes camera {
    0% {
        transform: translate(-97.18543px, -95.2491px);
        -webkit-transform: translate(-97.18543px, -95.2491px);
        background-color: #8ea5ce;
    }
    50% {
        transform: translate(0, -275.2491px);
        -webkit-transform: translate(0.81457px, -275.2491px);
        width: 73px;
        height: 73px;
        background-color: white;
    }
    100% {
        transform: translate(-38.5%, -85.5%);
        width: 87%;
        height: 555%;
        -webkit-transform: translate(-38.5%, -85.5%);
        border-radius: 3px;
        background-color: white;
    }
}

@keyframes microphone {
    0% {
        transform: translate(-0.09158px, -135.99996px);
        -webkit-transform: translate(-0.09158px, -135.99996px);
        background-color: #8ea5ce;
    }
    50% {
        transform: translate(-0.09158px, -255.99996px);
        -webkit-transform: translate(-0.09158px, -255.99996px);
        width: 73px;
        height: 73px;
        background-color: white;
    }
    100% {
        transform: translate(-38.5%, -85.5%);
        -webkit-transform: translate(-38.5%, -85.5%);
        width: 87%;
        height: 555%;
        border-radius: 3px;
        background-color: white;
    }
}

@keyframes clock {
    0% {
        transform: translate(97.04956px, -95.37192px);
        -webkit-transform: translate(97.04956px, -95.37192px);
        background-color: #8ea5ce;
    }
    50% {
        transform: translate(1.04956px, -271.37192px);
        -webkit-transform: translate(1.04956px, -271.37192px);
        width: 73px;
        height: 73px;
        background-color: white;
    }
    100% {
        transform: translate(-38.5%, -85.5%);
        -webkit-transform: translate(-38.5%, -85.5%);
        width: 87%;
        height: 555%;
        border-radius: 3px;
        background-color: white;
    }
}

@keyframes cog {
    0% {
        transform: translate(140.40705px, -12.66307px);
        -webkit-transform: translate(140.40705px, -12.66307px);
        background-color: #8ea5ce;
    }
    50% {
        transform: translate(1.04956px, -271.37192px);
        -webkit-transform: translate(1.04956px, -271.37192px);
        width: 73px;
        height: 73px;
        background-color: white;
    }
    100% {
        transform: translate(-38.5%, -85.5%);
        -webkit-transform: translate(-38.5%, -85.5%);
        width: 87%;
        height: 555%;
        border-radius: 3px;
        background-color: white;
    }
}

@keyframes color-svg {
    0% {
        fill: #FFFFFF;
    }
    50% {
        fill: #FDACAB;
    }
    100% {
        fill: #FDACAB;
    }
}

.menu-open:checked~#pencil.wipe {
    animation: pencil 1s ease-in-out;
    -webkit-animation: pencil 1s ease-in-out;
}

#pencil.wipe #pencil_glyph_icon_2 {
    animation: color-svg 1s ease-in-out;
    -webkit-animation: color-svg 1s ease-in-out;
}

.menu-open:checked~#pencil.wipe.finished {
    -webkit-transform: translate(-38.5%, -85.5%);
    transform: translate(-38.5%, -85.5%);
    border-radius: 3px;
    width: 87%;
    height: 555%;
    background-color: white;
}

#pencil.wipe.finished #pencil_glyph_icon_2 {
    fill: #FDACAB;
}

.menu-open:checked~#camera.wipe {
    animation: camera 1s ease-in-out;
    -webkit-animation: camera 1s ease-in-out;
}

#camera.wipe #camera_glyph_icon_1 {
    animation: color-svg 1s ease-in-out;
    -webkit-animation: color-svg 1s ease-in-out;
}

.menu-open:checked~#camera.wipe.finished {
    -webkit-transform: translate(-38.5%, -85.5%);
    transform: translate(-38.5%, -85.5%);
    border-radius: 3px;
    width: 87%;
    height: 555%;
    background-color: white;
}

#camera.wipe.finished #camera_glyph_icon_1 {
    fill: #FDACAB;
}

.menu-open:checked~#microphone.wipe {
    animation: microphone 1s ease-in-out;
    -webkit-animation: microphone 1s ease-in-out;
}

#microphone.wipe #audio_outline_icon_2 {
    animation: color-svg 1s ease-in-out;
    -webkit-animation: color-svg 1s ease-in-out;
}

.menu-open:checked~#microphone.wipe.finished {
    -webkit-transform: translate(-38.5%, -85.5%);
    transform: translate(-38.5%, -85.5%);
    border-radius: 3px;
    width: 87%;
    height: 555%;
    background-color: white;
}

#microphone.wipe.finished #audio_outline_icon_2 {
    fill: #FDACAB;
}

.menu-open:checked~#clock.wipe {
    animation: clock 1s ease-in-out;
    -webkit-animation: clock 1s ease-in-out;
}

#clock.wipe #notification_glyph_icon_1 {
    animation: color-svg 1s ease-in-out;
    -webkit-animation: color-svg 1s ease-in-out;
}

.menu-open:checked~#clock.wipe.finished {
    -webkit-transform: translate(-38.5%, -85.5%);
    transform: translate(-38.5%, -85.5%);
    border-radius: 3px;
    width: 87%;
    height: 555%;
    background-color: white;
}

#clock.wipe.finished #notification_glyph_icon_1 {
    fill: #FDACAB;
}

.menu-open:checked~#cog.wipe {
    animation: cog 1s ease-in-out;
    -webkit-animation: cog 1s ease-in-out;
}

#cog.wipe #settings_glyph_icon_1 {
    animation: color-svg 1s ease-in-out;
    -webkit-animation: color-svg 1s ease-in-out;
}

.menu-open:checked~#cog.wipe.finished {
    -webkit-transform: translate(-38.5%, -85.5%);
    transform: translate(-38.5%, -85.5%);
    border-radius: 3px;
    width: 87%;
    height: 555%;
    background-color: white;
}

#cog.wipe.finished #settings_glyph_icon_1 {
    fill: #FDACAB;
}

.memory {
    transition: r 2s ease-in-out, fill 2s ease-in-out;
}

.memory.active {
    r: 20;
    fill: #FDACAB;
}

.delete-button {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 20%;
}

.delete-button path {
    transition: fill 1s ease-in-out;
}

.tags {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    top: 30%;
}

.tag-container {
    text-align: center;
    height: 50%;
    display: none;
    justify-content: space-around;
    list-style-type: none;
    background: rgb(142, 165, 206);
    border-radius: 30%;
    align-items: center;
}

.tags li {
    list-style-type: none;
    display: none;
    text-align: center;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.top-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.shuffle-memories {
    padding-left: 3%;
    padding-top: 2%;
}

.search-tags {
    padding-right: 3%;
    padding-top: 2%;
    transition: width 1s ease;
}

#to-extend {
    transform-origin: bottom;
    transition: transform 0.6s ease;
}

.underline {
    width: 90%;
    height: 90%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: 5%;
}

.underline:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease 1s, background-color .5s ease;
}

.underline.active:after {
    width: 100%;
    background: white;
}

.close-tags {
    text-align: right;
    background: transparent !important;
}

.close-icon {
    width: 40%;
}

.filter-tags {
    width: 10%;
}

.clear-tags {
    background: transparent !important;
}

.menu-open:checked~#pencil.wipe.finished.new-node, .menu-open:checked~#microphone.wipe.finished.new-node, .menu-open:checked~#camera.wipe.finished.new-node {
    transition: transform 3s ease 2s, border-radius 3s ease, width 3s ease, height 3s ease;
    transform: translate(181.5%, -1500%);
    border-radius: 100%;
    width: 4%;
    height: 2vh;
}


/* Media inputs */

.memory-input__text {
    font-size: 1em;
    padding: 0.8em;
    margin-top: 1em;
    height: 200px;
    width: 280px;
    color: #526173;
}

.memory-input.camera, .memory-input.microphone {
    bottom: 179%;
    position: absolute;
    left: 24%;
    width: 54%;
    height: 46%;
    border: 1.5px solid #8EA5CE;
    border-radius: 4%;
}

.memory-input.camera.img-background, .memory-input.microphone.img-background {
    height: 220px;
    width: 260px;
    background: #F7F7F7;
    border: none;
    border-radius: 2%;
    left: 14%;
    bottom: 243%;
}

.memory-input.camera.image, .memory-input.microphone.image {
    bottom: 300%;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.memory-input__placeholder {
    color: #526173;
    padding: 0.8em;
    position: relative;
    left: -19%;
}

label.memory-input__label.camera, label.memory-input__label.microphone {
    margin: 0;
    top: 27%;
    color: #526173;
    line-height: 1.2em;
    position: absolute;
    width: 100%;
    right: 0%;
    color: #8EA5CE;
}

.memory-input__submit.camera, .memory-input__submit.microphone {
    width: 100%;
    height: 50px;
    margin-top: 0;
    font-size: 0;
    padding: 0;
    border-radius: 0;
}

label.memory-input__label {
    font-size: 1em;
    margin: 1em 0;
    position: absolute;
    top: -395%;
    right: 7%;
    color: #526173;
    width: 86%;
    line-height: 1.2em;
}

.memory-input__submit {
    width: 114px;
    height: 40px;
    margin-top: 20px;
    font-size: 1em;
    padding: 0.3em 0.9em;
    border-radius: 3px;
    border: none;
    background-color: #91CFCF;
}

.memory-input.hide, .close_icon.hide, .menu_icon.hide {
    display: none !important;
}

.tag-input {
    font-size: 0.7em;
    padding: 0.8em;
    margin-top: 1em;
    height: 20px;
    width: 280px;
    color: #526173;
    margin-left: 0.5em;
}

.popupBoxHolder {
    transition: width 3s ease-in-out, height 3s ease-in-out, ry 3s ease-in-out;
}

.popupBox {
    transition: width 3s ease-in-out, height 3s ease-in-out, ry 3s ease-in-out;
}

.like-button {
    transition: width 3s ease-in-out, height 3s ease-in-out;
}

@keyframes grow {
    0%: {
        width: 40px;
        height: 40px;
    }
    50%: {
        width: 40px;
        height: 40px;
    }
    100%: {
        width: 40px;
        height: 40px;
    }
}

.like-button.liked {
transition: 1s grow forwards;
}

/* Sign up / log in styling */


/* Needs refactoring!! */

form.signup-form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

input.input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid fade(white, 40%);
    background-color: fade(white, 20%);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: left;
    font-size: 18px;
    color: #526173;
    transition-duration: 0.25s;
    font-weight: 300;
}

input.input:hover {
    background-color: fade(white, 40%);
}

input.input:focus {
    background-color: white;
    width: 300px;
}

input.button {
    text-align: center;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #8ea5ce;
}

.form-wrap {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 5.55%;
    background-color: #fff;
    color: black;
    width: 320px;
    margin: 3em auto;
    box-shadow: 0px 1px 8px #BEBEBE;
    -webkit-box-shadow: 0px 1px 8px #BEBEBE;
    -moz-box-shadow: 0px 1px 8px #BEBEBE;
    margin-top: -0.5rem;
}

.form-wrap .tabs {
    overflow: hidden;
}

.form-wrap .tabs h3 {
    float: left;
    width: 50%;
}

.form-wrap .tabs h3 a {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    background-color: #e6e7e8;
    display: block;
    color: #666;
}

.form-wrap .tabs h3 a.active {
    background-color: #fff;
}

.form-wrap .tabs-content {
    padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}

.form-wrap .tabs-content .active {
    display: block !important;
}

.form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #526173;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%;
}

.form-wrap form .button {
    font-size: 1.2em;
    width: 100%;
    padding: 10px 0;
    background-color: #8ea5ce;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.form-wrap form .button:hover {
    background-color: #8ea5ce;
}

.form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    color: #526173;
}

.form-wrap form label[for]:before {
    content: '';
    position: absolute;
    border: 1px solid #CFCFCF;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
}

.form-wrap form label[for]:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background-color: transparent;
    top: 4px;
    left: -10px;
    border: 3px solid #28A55F;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-wrap .help-text {
    margin-top: .6em;
}

.form-wrap .help-text p {
    text-align: center;
    font-size: 14px;
    color: #526173;
}

@media screen and (max-width: 768px) {
  #d3-container {
      width: 100vw;
      height: 100vh;
  }
}
